@using System.Web.Mvc.Html
@model dynamic

@{
    ViewBag.Title = "Create Your Order";
}

<h2>Fast Easy Pizza order form</h2>

@using(Html.BeginForm()){
@Html.EditorForModel()
<input type="submit" value="Order"/>
}
