@model IEnumerable<Dto.PizzaListingDto>

@{
    ViewBag.Title = "Create Pizza";
}

<h2>Pizza</h2>

@Html.ActionLink("Add Pizza","AddEditPizza")

<table class="table table-striped">
    <thead><tr><th>Name</th><th>Price</th></tr></thead>
    @foreach (var item in Model)
    {
        <tr><td>@item.Name</td><td>@item.Price</td></tr>
    }
</table>


